.kid-section {
  margin-bottom: 80px;
}
.kid-section-title {
  color: #fff;
  font-size: 30px;
  margin-top: 30px;
  font-weight: bold;
}

.kid-carousel-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}
.kid-dizi-carousel img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
