.tv-body {
  color: #fff;
  display: flex;
  margin-top: 70px;
}
.tv-body .tv-left {
  flex: 1;
}
.tv-body .tv-left p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.tv-body .tv-left ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}
.tv-body .tv-left ul li {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.tv-body .tv-left .search-ul li input {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 9999px;
  margin-bottom: 30px;
  margin-right: 20px;
}
.tv-body .tv-left .search-ul li input::placeholder {
  font-weight: bold;
}
.tv-body .tv-right {
  flex: 4;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
}
.tv-body .tv-right .tv-card .tv-card-image img {
  width: 250.59px;
  height: 350.05px;
  border-radius: 10px;
}
.null-image {
  height: 500px;
}
.tv-button {
  text-align: center;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.tv-button button {
  padding: 10px 150px 10px 150px;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;

  cursor: pointer;
}
.tv-button button:hover {
  background-color: red;
  color: #fff;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .tv-body {
    display: block;
  }
  .tv-body .tv-right {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
  }
  .tv-body .tv-right .tv-card .tv-card-image img {
    width: 100%;
    height: 205.78px;
  }
  .tv-button button {
    padding: 5px 100px 5px 100px;
  }
  .tv-body .tv-left p:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .tv-body .tv-left p:first-child svg {
    display: block;
  }
  .tv-body .tv-left ul {
    display: none;
  }
  .tv-button {
    display: block;
  }
  .tv-button button:last-child {
    margin-top: 0;
  }
}
.tv-body .tv-left .active {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}
