.film-section {
  margin-bottom: 80px;
}
.film-section-title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

.film-carousel-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}
.film-dizi-carousel img {
  width: 250px;
  height: 350px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .film-dizi-carousel img {
    width: 150px;
    height: 200px;
  }
  .film-section-title {
    margin-bottom: 0;
    font-size: 20px;
  }
}
