body {
  /* background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  ); */
  background-color: #000;
  overflow-x: hidden;
}
.container {
  max-width: 1440px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
/* Video */
.video {
}
video {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 1320px;
  width: auto;
  margin-top: -173px;
  margin-left: -300px;
}

/* Main */

.main-section {
  margin-top: 1100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .video {
    display: none;
  }
}
