.container iframe {
  margin-top: 70px;
  margin-bottom: 40px;
}
.film-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  padding: 30px;
  gap: 36px;
}
.film-detail .film-detail-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.film-detail .film-detail-left img {
  width: 100%;
}
/* right */
.film-detail .film-detail-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.film-detail .film-detail-right .film-detail-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.film-detail .film-detail-right .film-detail-right-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.film-detail .film-detail-right .film-detail-right-left ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.film-detail .film-detail-right .film-detail-title {
  font-size: 32px;
  font-weight: bold;
}
.film-detail .film-detail-right .film-detail-description {
  line-height: 1.5;
}
.film-detail .film-detail-right .film-link a {
  margin-top: 10px;
}
.film-detail .film-detail-right .film-link p {
  position: relative;
  width: fit-content;
  width: 200px;
  padding-bottom: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 3px solid #fff;
}
.film-detail .film-detail-right .film-link .network {
  display: flex;
  align-items: center;
  gap: 12px;
}
.network img {
  width: 100px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
.none-video {
  margin-top: 200px;
}
