.mylist {
  margin-top: 50px;
  padding: 30px;
}
.mylist > .mylist-title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid #fff;
  width: 200px;
  padding-bottom: 10px;
}

.mylist > .mylist-body {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 50px;
  margin-bottom: 50px;
}

.mylist > .mylist-body img {
  width: 226.98px;
  height: 342.47px;
}

.mylist > .mylist-body svg {
  position: absolute;
  font-size: 30px;
  margin-left: 197px;
  color: red;
  background-color: white;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
.mylist > .mylist-body svg:hover {
  background-color: red;
  color: #fff;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .mylist > .mylist-body {
    grid-template-columns: auto auto;
  }
  .mylist > .mylist-body img {
    width: 100%;
    height: 100%;
  }
  .mylist > .mylist-body svg {
    margin-left: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
  }
}
